.messageWrapper {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.icon {
    flex: 1
}

.from {
    flex: 2;
}

.subject {
    flex: 3;
    font-weight: bolder;
}

.date {
    flex: 2;
    font-weight: lighter;
}

.preview {
    flex: 5;
    font-weight: lighter;
}

.commandsWrapper {
    flex: 2;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.toRead {
    background-color: #efefef;
}
